In [1]:
import pandas as pd
import sys
sys.path.append('../')

In [2]:
!pwd

/Users/danielaarias/Ironhack/Semana_06/API_Flask/Notebooks

In [3]:
df = pd.read_csv('../Data/tbb.csv')

In [4]:
df.head()

,episode_name,dialogue,person_scene
0,Series 01 Episode 01 – Pilot Episode,A corridor at a sperm bank.,Scene
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard

## Voy a quedarme con los personajes principales de la serie

In [5]:
y = df["person_scene"].value_counts()

In [6]:
for i in y:
    if i > 3000:
        print(i)

11484
9638
7477
5737
4576
3419

In [7]:
y[0:6]

Sheldon    11484
Leonard     9638
Penny       7477
Howard      5737
Raj         4576
Amy         3419
Name: person_scene, dtype: int64

In [8]:
df3 = df[((df.person_scene=="Sheldon")|(df.person_scene=="Leonard")|(df.person_scene=="Penny")|(df.person_scene=="Howard")|(df.person_scene=="Amy"))]

In [9]:
df3.reset_index(drop=True)

,episode_name,dialogue,person_scene
0,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon
1,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard
2,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon
3,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard
4,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard
...,...,...,...
37750,Series 10 Episode 24 – The Long Distance Disso...,"Uh, breakfast yes, lunch no. I did have a cou...",Sheldon
37751,Series 10 Episode 24 – The Long Distance Disso...,How thoughtful. Thank you.,Sheldon
37752,Series 10 Episode 24 – The Long Distance Disso...,"And I with you. Question, are you seeking a r...",Sheldon
37753,Series 10 Episode 24 – The Long Distance Disso...,"Well, that would raise a number of problems. ...",Sheldon
37754,Series 10 Episode 24 – The Long Distance Disso...,"(Knock, knock, knock) Amy. (Knock, knock, kno...",Sheldon

## Columna Episode

In [10]:
df3.head()

,episode_name,dialogue,person_scene
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard

In [11]:
df3[['col1', 'Name_episode']] = df3['episode_name'].str.split(" – ", expand = True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [12]:
df3.head()

,episode_name,dialogue,person_scene,col1,Name_episode
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon,Series 01 Episode 01,Pilot Episode
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard,Series 01 Episode 01,Pilot Episode
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon,Series 01 Episode 01,Pilot Episode
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard,Series 01 Episode 01,Pilot Episode
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard,Series 01 Episode 01,Pilot Episode

In [13]:
df3[['col3', 'Number_Series', 'col5', 'Number_Episode', 'col7', 'col8']] = df3['col1'].str.split(" ", expand = True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [14]:
df3

,episode_name,dialogue,person_scene,col1,Name_episode,col3,Number_Series,col5,Number_Episode,col7,col8
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
...,...,...,...,...,...,...,...,...,...,...,...
54397,Series 10 Episode 24 – The Long Distance Disso...,"Uh, breakfast yes, lunch no. I did have a cou...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54399,Series 10 Episode 24 – The Long Distance Disso...,How thoughtful. Thank you.,Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54401,Series 10 Episode 24 – The Long Distance Disso...,"And I with you. Question, are you seeking a r...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54403,Series 10 Episode 24 – The Long Distance Disso...,"Well, that would raise a number of problems. ...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None
54405,Series 10 Episode 24 – The Long Distance Disso...,"(Knock, knock, knock) Amy. (Knock, knock, kno...",Sheldon,Series 10 Episode 24,The Long Distance Dissonance,Series,10,Episode,24,None,None

In [15]:
renombrar = {"dialogue": "Dialogue", "person_scene":"Actor","Name_episode": "Name_Episode" }

In [16]:
df3.rename(columns = renombrar, inplace=True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [17]:
df3.head()

,episode_name,Dialogue,Actor,col1,Name_Episode,col3,Number_Series,col5,Number_Episode,col7,col8
1,Series 01 Episode 01 – Pilot Episode,So if a photon is directed through a plane wi...,Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
2,Series 01 Episode 01 – Pilot Episode,"Agreed, what’s your point?",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
3,Series 01 Episode 01 – Pilot Episode,"There’s no point, I just think it’s a good id...",Sheldon,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
4,Series 01 Episode 01 – Pilot Episode,Excuse me?,Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None
6,Series 01 Episode 01 – Pilot Episode,"One across is Aegean, eight down is Nabakov, ...",Leonard,Series 01 Episode 01,Pilot Episode,Series,01,Episode,01,None,None

## Nos quedamos con las columnas que utilizaremos en nuestra BBDD

In [18]:
df3.drop(["episode_name", "col1", "col3","col5","col7","col8"], axis=1, inplace=True)

/usr/local/Caskroom/miniconda/base/envs/Ironhack/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [19]:
df3.head()

,Dialogue,Actor,Name_Episode,Number_Series,Number_Episode
1,So if a photon is directed through a plane wi...,Sheldon,Pilot Episode,01,01
2,"Agreed, what’s your point?",Leonard,Pilot Episode,01,01
3,"There’s no point, I just think it’s a good id...",Sheldon,Pilot Episode,01,01
4,Excuse me?,Leonard,Pilot Episode,01,01
6,"One across is Aegean, eight down is Nabakov, ...",Leonard,Pilot Episode,01,01

In [20]:
def sustituye(x):
    x = str(x).replace('"', "`")
    x = str(x).replace("'", "`")
    return x

In [21]:
df3['Dialogue'].apply(sustituye)

1         So if a photon is directed through a plane wi...
2                               Agreed, what’s your point?
3         There’s no point, I just think it’s a good id...
4                                               Excuse me?
6         One across is Aegean, eight down is Nabakov, ...
                               ...
54397     Uh, breakfast yes, lunch no. I did have a cou...
54399                           How thoughtful. Thank you.
54401     And I with you. Question, are you seeking a r...
54403     Well, that would raise a number of problems. ...
54405     (Knock, knock, knock) Amy. (Knock, knock, kno...
Name: Dialogue, Length: 37755, dtype: object

In [82]:
df3.head()

,Dialogue,Actor,Name_Episode,Number_Series,Number_Episode
1,So if a photon is directed through a plane wi...,Sheldon,Pilot Episode,01,01
2,"Agreed, what’s your point?",Leonard,Pilot Episode,01,01
3,"There’s no point, I just think it’s a good id...",Sheldon,Pilot Episode,01,01
4,Excuse me?,Leonard,Pilot Episode,01,01
6,"One across is Aegean, eight down is Nabakov, ...",Leonard,Pilot Episode,01,01

In [23]:
df3.to_csv('../Data/Cleaning_ready.csv')

## Nos conectamos con la BBDD creada en MySQLWorkbench

In [54]:
import sqlalchemy as alch
import os
import dotenv

dotenv.load_dotenv()

passw = os.getenv("pass_sql")
dbName = "tbb"
connectionData = f"mysql+pymysql://root:{passw}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

In [55]:
engine

Engine(mysql+pymysql://root:***@localhost/tbb)

## Cargamos los datos a nuestra BBDD de SQL

In [90]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el user, artista o canción.
    Devuelve True si existe y False si no
    """
    if que == "Season":
        query = list(engine.execute(f"SELECT Number FROM Season WHERE Number = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "Episode":
        query = list(engine.execute(f"SELECT Name FROM Episode WHERE Name = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
       
    elif que == "Actors":
        query = list(engine.execute(f"SELECT Name FROM Actors WHERE Name = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "Dialogue":
        query = list(engine.execute(f"SELECT Dialogue FROM Dialogue WHERE Dialogue = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [92]:
check("Episode", "Hola")

False

In [66]:
def insertSeason(string):
    """
    Llama a la función check para comprobar si existe season
    Inserta season si no existe
    """
    if check("Season", string):
        return "Esa temporada ya existe"
    else:
        engine.execute(f"INSERT INTO Season (Number) VALUES ('{string}');")

In [77]:
def insertEpisode(nombre, number):
    """
    Llama a la función check para comprobar si existe el Episode
    Inserta episode si no existe
    """
    if check("Episode", nombre):
        return "El Episodio ya existe"
    else:
        engine.execute(f"""INSERT INTO Episode (Name, Number_episode, Season_id_Season) 
                       VALUES ('{nombre}', '{number}', 1);""")

In [78]:
def insertActors(nombre):
    """
    Llama a la función check para comprobar si existe el Actor
    Inserta actor si no existe
    """
    if check("Actors", nombre):
        return "El Actor ya existe"
    else:
        engine.execute(f"INSERT INTO Actors (Name) VALUES ('{nombre}');")

In [79]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "Season":
        return list(engine.execute(f"SELECT id_Season FROM Season WHERE Number ='{string}';"))[0][0]
    elif que == "Episode":
        return list(engine.execute(f"SELECT id_episode FROM Episode WHERE Name ='{string}';"))[0][0]
    elif que == "Actors":
        return list(engine.execute(f"SELECT id_Actors FROM Actors WHERE Name ='{string}';"))[0][0]

In [83]:
df3.sample()

,Dialogue,Actor,Name_Episode,Number_Series,Number_Episode
37609,"Leonard, I assumed you knew. The ranking of r...",Sheldon,The First Pitch Insufficiency,08,03

In [93]:
def insertDialogue(fila):
    """
    La función final 
    """
    if check("Dialogue", fila["Dialogue"]):
        return "El dialogo ya existe"
    else:
        if check("Episode", fila["Name_Episode"]):
            episode_id = dameId("Episode", fila["Name_Episode"])
        else:
            insertEpisode(fila["Name_Episode"], fila["Number_Episode"])
            episode_id = dameId("Episode", fila["Name_Episode"])
        
        if check("Actors", fila["Actor"]):
            actors_id = dameId("Actors", fila["Actor"])
        else:
            insertActors(fila["Actor"])
            actors_id = dameId("Actors", fila["Actor"])
    
        engine.execute(f"""
        INSERT INTO Dialogue (Episode_id_episode, Actors_id_Actors, Dialogue) 
        VALUES ("{episode_id}", "{actors_id}", "{fila['Dialogue']}");
        """)

In [98]:
for index, fila in df3.iterrows():
    insertDialogue(fila)
    
#Me ha cargardo los datos antes de darme el error, por lo que la bbdd ya tiene datos para trabajar.

ValueError: unsupported format character 'm' (0x6d) at index 186

In [ ]:
# como borrar datos cargados en SQL
SET SQL_SAFE_UPDATES = 0;
DELETE FROM Actors;